<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SyloTest</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>org.reactjs.native.example.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>GothamNarrow-Bold.otf</string>
		<string>GothamNarrow-Book.otf</string>
		<string>GothamNarrow-Light.otf</string>
		<string>GothamNarrow-Medium.otf</string>
		<string>HelveticaNeueLTStd-Bd.otf</string>
		<string>HelveticaNeueLTStd-BdCn.otf</string>
		<string>HelveticaNeueLTStd-BdCnO.otf</string>
		<string>HelveticaNeueLTStd-BdEx.otf</string>
		<string>HelveticaNeueLTStd-BdExO.otf</string>
		<string>HelveticaNeueLTStd-BdIt.otf</string>
		<string>HelveticaNeueLTStd-BdOu.otf</string>
		<string>HelveticaNeueLTStd-Blk.otf</string>
		<string>HelveticaNeueLTStd-BlkCn.otf</string>
		<string>HelveticaNeueLTStd-BlkCnO.otf</string>
		<string>HelveticaNeueLTStd-BlkEx.otf</string>
		<string>HelveticaNeueLTStd-BlkExO.otf</string>
		<string>HelveticaNeueLTStd-BlkIt.otf</string>
		<string>HelveticaNeueLTStd-Cn.otf</string>
		<string>HelveticaNeueLTStd-CnO.otf</string>
		<string>HelveticaNeueLTStd-Ex.otf</string>
		<string>HelveticaNeueLTStd-ExO.otf</string>
		<string>HelveticaNeueLTStd-Hv.otf</string>
		<string>HelveticaNeueLTStd-HvCn.otf</string>
		<string>HelveticaNeueLTStd-HvCnO.otf</string>
		<string>HelveticaNeueLTStd-HvEx.otf</string>
		<string>HelveticaNeueLTStd-HvExO.otf</string>
		<string>HelveticaNeueLTStd-HvIt.otf</string>
		<string>HelveticaNeueLTStd-It.otf</string>
		<string>HelveticaNeueLTStd-Lt.otf</string>
		<string>HelveticaNeueLTStd-LtCn.otf</string>
		<string>HelveticaNeueLTStd-LtCnO.otf</string>
		<string>HelveticaNeueLTStd-LtEx.otf</string>
		<string>HelveticaNeueLTStd-LtExO.otf</string>
		<string>HelveticaNeueLTStd-LtIt.otf</string>
		<string>HelveticaNeueLTStd-Md.otf</string>
		<string>HelveticaNeueLTStd-MdCn.otf</string>
		<string>HelveticaNeueLTStd-MdCnO.otf</string>
		<string>HelveticaNeueLTStd-MdEx.otf</string>
		<string>HelveticaNeueLTStd-MdExO.otf</string>
		<string>HelveticaNeueLTStd-MdIt.otf</string>
		<string>HelveticaNeueLTStd-Roman.otf</string>
		<string>HelveticaNeueLTStd-Th.otf</string>
		<string>HelveticaNeueLTStd-ThCn.otf</string>
		<string>HelveticaNeueLTStd-ThCnO.otf</string>
		<string>HelveticaNeueLTStd-ThEx.otf</string>
		<string>HelveticaNeueLTStd-ThExO.otf</string>
		<string>HelveticaNeueLTStd-ThIt.otf</string>
		<string>HelveticaNeueLTStd-UltLt.otf</string>
		<string>HelveticaNeueLTStd-UltLtCn.otf</string>
		<string>HelveticaNeueLTStd-UltLtCnO.otf</string>
		<string>HelveticaNeueLTStd-UltLtEx.otf</string>
		<string>HelveticaNeueLTStd-UltLtExO.otf</string>
		<string>HelveticaNeueLTStd-UltLtIt.otf</string>
		<string>HelveticaNeueLTStd-XBlkCn.otf</string>
		<string>HelveticaNeueLTStd-XBlkCnO.otf</string>
		<string>rubicon-icon-font.ttf</string>
		<string>Rubik-Black.ttf</string>
		<string>Rubik-BlackItalic.ttf</string>
		<string>Rubik-Bold.ttf</string>
		<string>Rubik-BoldItalic.ttf</string>
		<string>Rubik-Italic.ttf</string>
		<string>Rubik-Light.ttf</string>
		<string>Rubik-LightItalic.ttf</string>
		<string>Rubik-Medium.ttf</string>
		<string>Rubik-MediumItalic.ttf</string>
		<string>Rubik-Regular.ttf</string>
		<string>Roboto_medium.ttf</string>
		<string>Roboto.ttf</string>
		<string>AntDesign.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
	</array>
</dict>
</plist>
